.box {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.sideImg {
    width: 220px;
    height: 140px;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 7px;
    width: 300px;
    text-align: left;
}