.image {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 420px;
}
.dates {
    position: relative;
    top: 475px;
    left: 0px;
    text-align: left;
}
.content {
    position: relative;
    top: 500px;
    right: 0px;
    max-width: 600px;
    text-align: left;
}