.image {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 1000px;
}
.dates {
    position: relative;
    top: 475px;
    right: 150px;
    text-align: left;
}